/*Header drop down menu*/
.menu-icon {
	display: inline-block;
	width: 3em;
	height: 3em;
	fill: currentColor;
}

.drop-down-menu {
	display: inline-block;
}

.drop-down-menu label, .drop-down-menu ul li {
	display: block;
	width: 30em;
	background: #d8d8d8;
	padding: 15px 20px;
}

.drop-down-menu label:hover, .drop-down-menu ul li:hover {
	background-color: rgba(29, 28, 33, 0.9);
	color: white;
	cursor: pointer;
}

.drop-down-menu input {
	display: none;
}

.drop-down-menu input ~ ul {
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

.drop-down-menu input:checked + label {
	background-color: rgba(29, 28, 33, 0.9);
	color: white;
}

.drop-down-menu input:checked ~ ul {
	visibility: visible;
	opacity: 1;
}

.menu-list-ul {
	position: absolute;
}

.menu-list {
	margin: 0;
	padding: 0;
}

.animate {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;  
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
}

/*Welcome page*/
.welcome {
	background-image: url("/advanced-presentation__W2-A2/assets/header-background-image.jpg");
	background-size:   cover;                      
	background-repeat: no-repeat;
}

.welcome-section {
	padding-top: 4em;
	padding-bottom: 4em;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}
.circle-welcome-icon {
	background-color: #fd6632;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;	
}

.welcome-icon {
	margin: 0;
}

.welcome-section h1 {
	font-family: ;
	font-size: 1em;
	margin: 0;
}