/*Header drop down menu*/
/*
.team {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
*/		
 /*
.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
*/	
/*	
 .team-header {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
	
 .team-p {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
	
 .team-name {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
	
 .team-job {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
	
 .team-pic {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
	
 .team-social-media-icon {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
*/

.menu-icon {
	display: inline-block;
	width: 3em;
	height: 3em;
	fill: currentColor;
}

.drop-down-menu {
	position: fixed;
	display: inline-block;
}

.drop-down-menu label, .drop-down-menu ul li {
	display: block;
	width: 30em;
	background: #d8d8d8;
	padding: 15px 20px;
}

.drop-down-menu label:hover, .drop-down-menu ul li:hover {
	background-color: #1d1c21;
	color: white;
	cursor: pointer;
}

.drop-down-menu input {
	display: none;
}

.drop-down-menu input ~ ul {
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

.drop-down-menu input:checked + label {
	background-color: #1d1c21;
	color: white;
}

.drop-down-menu input:checked ~ ul {
	visibility: visible;
	opacity: 1;
}

.menu-list-ul {
	position: absolute;
}

.menu-list {
	margin: 0;
	padding: 0;
}

.animate {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;  
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
}

/*Welcome page*/
.welcome {
	background-image: url("/advanced-presentation__W2-A2/assets/header-background-image.jpg");
	background-size: cover;                      
	background-repeat: no-repeat;
}

.welcome-section {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

.circle-welcome-icon {
	padding: .5em;
	background-color: #fd6632;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;	
}

.welcome-icon {
	margin: 0;
}

.welcome-section h1 {
	font-size: 1em;
	margin: 0;
}

/*Services */
.services-price {
  background-color: #fd6632;
}

.services-list {
	padding: 0;
	border: 0;
	margin: 0;
	list-style: none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
}

.services-list li {
	padding: 1em;
	width: 20em;
}

.circle-services-icon {
	display: inline-block;
	padding: 3em;
	background-color: #ffffff;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.circle-services-icon img {

}

/*Portfolio*/

/*About-Skills*/
.about-skills {
  background-color: #252629;
}

/*Contact*/
.contact {
  background-color: #fd6632;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 60px solid green;
	margin: 0 auto;
}