
.menu-icon {
	display: inline-block;
	width: 3em;
	height: 3em;
	fill: currentColor;
}

.drop-down-menu {
	position: fixed;
	display: inline-block;
}

.drop-down-menu label, .drop-down-menu ul li {
	display: block;
	width: 30em;
	background: #d8d8d8;
	padding: 15px 20px;
}

.drop-down-menu label:hover, .drop-down-menu ul li:hover {
	background-color: #1d1c21;
	color: white;
	cursor: pointer;
}

.drop-down-menu input {
	display: none;
}

.drop-down-menu input ~ ul {
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}

.drop-down-menu input:checked + label {
	background-color: #1d1c21;
	color: white;
}

.drop-down-menu input:checked ~ ul {
	visibility: visible;
	opacity: 1;
}

.menu-list-ul {
	position: absolute;
}

.menu-list {
	margin: 0;
	padding: 0;
}

.animate {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;  
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden; /* Chrome and Safari */
	-moz-backface-visibility:hidden; /* Firefox */
	-ms-backface-visibility:hidden; /* Internet Explorer */
}

.line {
    
    margin-top: 2em;
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.line:before, .line:after {
    position: absolute;
    top: 51%;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}
.line:before {
    margin-left: -50%;
    text-align: right;
}


/*Welcome page*/
.welcome {
	background-image: url("/advanced-presentation__W2-A2/assets/header-background-image.jpg");
	background-size: cover;                      
	background-repeat: no-repeat;
}

.welcome-section {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

.circle-welcome-icon {
	padding: .5em;
	background-color: #fd6632;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;	
}

.welcome-icon {
	margin: 0;
}

.welcome-section h1 {
	font-size: 1em;
	margin: 0;
}

/*Services */
.services {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	align-items: flex-start;
}

.services > h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 50em;
	height: 3em;
}

.services-p-one {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 70em;
	height: 10em;
}

.services-p-two {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 20em;
	height: 10em;
}

.services-p-three {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 20em;
	height: 10em;
}

.services-price {
  background-color: #fd6632;
}

.services-list {
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
	list-style: none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
}

.services-list li {
	padding: 1em;
	width: 20em;
}

.circle-services-icon {
	display: inline-block;
	padding: 3em;
	background-color: #ffffff;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

/*pricing*/
.price {
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
align-items: flex-start;
}

.price > h1 {
	width: 900px;
	text-align: center;
}

.price-ul {
	width: 80em;
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
	list-style: none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
}

.price-ul > li {
	padding-left: 2em;
	padding-right: 2em;
}
	
/*Portfolio*/
.carousel {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.carousel-nav-bar > ul {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	list-style: circle;
	font-size: 2em;
}

.carousel-selected {
	color: #fd6632;
}

/*About-Skills*/
.about-skills {
  background-color: #252629;
}

/*Contact*/
.contact {
  background-color: #fd6632;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid transparent;
    margin: 0 auto;
    position: absolute;
    margin-left: 50%;
    z-index: 50;  
}

.welcome-arrow {
    margin-top: -.5em;
    border-top: 60px solid #FFFFFF;
    /*background-image: url("/advanced-presentation__W2-A2/assets/header-background-image.jpg");*/
}

/*orange*/
.services-price-arrow {
    margin-top: -2.5em;
    border-top: 60px solid #fd6632;
}

.team-arrow { 
     margin-top: -2.5em;
    border-top: 60px solid #FFFFFF;
     margin-left: 15em;
} 
   
.portfolio-carousel-arrow {
    margin-top: -1.25em;
    border-top: 60px solid #FFFFFF;
}

.about-skills-arrow {
    margin-top: -2em;
    /*black color*/
    border-top: 60px solid #252629;
} 

/*orange*/
.contact-arrow {
    margin-top: -3em;
    border-top: 60px solid #fd6632;
     margin-left: 15em;
}
/*services & contacts are orange

/*google maps*/
.google-maps {
    z-index: 200;
    position: relative;
    
}

/*team*/
.team {
    margin: 0 auto;
     text-align: center;
    
}
.team-p {
    font-size: 1em;
    width: 20em;
    display: flex;
}

.team-name {
    font-size: 2em;
    margin-bottom: 0;
}

.team-social-media-icon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: .75em;
    margin-left: 8%;
    display: flex;
    position: relative;
}

.team-social-media-icon li {
    display: inline;
    float: left;


}

.team-facebook-icon, .team-twitter-icon, .team-dribble-icon, .team-linkedIn-icon, .team-googlePlus-icon {

   padding-right: .25em;
   padding-left: .25em;
    width: 1.75em;
    height: 1.75em;
    margin-right: .35em;
    margin-bottom: .5em;
    margin-top: .5em;

}

.team-facebook-icon {
    background-color: #305fc6;
}

.team-twitter-icon {
    background-color: #32bdff;
}
.team-dribble-icon {
    background-color: #dd2667;
}
.team-linkedIn-icon {
    background-color: #2ca1eb;
}
.team-googlePlus-icon {
    background-color: #fabc00;
}



/*Clients*/
.clients,  {
    margin: 0 auto;
}

.right-button {
margin-left: 60%;

}

.left-button {

}

.contact {
    text-align: center;
}
.contact-form    {
margin:auto;
position:relative;
width:550px;
height:450px;
font-size: 14px;
line-height: 24px; 
text-decoration: none;
padding:10px;
}

.form-box {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
background-color: #252629;
opacity: .8;
z-index: 600:  
}
.contact-message-box {
width:375px;
height:150px;
display:block;
background-color: #252629;
opacity: .8;
z-index: 600;
font-family: Arial;  
}

.contact-form-submit-button {
width:120px;
position:absolute;
left: 25%;
color: #fd6632;  
background:#09C;
background-color: #FFFFFF;
opacity: .8;  
height:30px;
display: block;  

  
}
contact-form-submit-button:hover {
background:#fff;
color:#09C;
}

.contact-message-box:focus, contact-form-submit-button:focus {
border: 1px solid #09C;
}