//about & skills sections

.about-skills {
	background-color: #252629;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	
}
.about-header {
	width: 100%;
}
.about-skills-p {
	width: 20em;
	padding: 5%;
	margin-right: 5%;
}
.skills {
	width: 80%;
}
.about-skills > small {
	width: 100em;
	text-align: center;
	margin: 1%;
}
.about-skills > button {
	padding: 1%;
	margin: 1%;
	border: 0;
	color: white;
	background: #fd6632;
}
progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 1.4em;
}
//Foreground Colors  
//IE10 

progress {
	color: #fd6632;
}


progress::-moz-progress-bar {
	background: #fd6632;
}


progress::-webkit-progress-value {
	background: #fd6632;
}


progress[aria-valuenow]:before {
	background: #fd6632;
}