//styling done to button elements goes here
%button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top,
	background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	display: inline-block;
	cursor: pointer;
	font-family: $primary-regular;
	font-size: $button-font-size;
	text-decoration: none;
	padding: 6px 24px;
}

.contact-form-submit-button {
	@extend %button;
	background-color: $white;
	color: $orange;
	border: 1px solid #dcdcdc;
	margin-top: .5em;
	margin-bottom: 2em;
	margin-left: 14em;	
}

.price-li {
	button {
		@extend %button;
		background-color: $orange;
		color: $white;
		border: 1px solid #be4c25;
		margin: 1%;	
	}
} 