//client section

.client-reviews {
	margin: 0 auto;
	

}
.client-p {
	text-align: center;
	width: 20em;
	font-size: 1em;
	font-family: $primary-regular;
	margin-left: 38%;

}
.client-figure {

}

.client-picture {
	margin-top: 1.5em;
	margin: 0 auto;
	display: block;
}

.client-name {
	margin: 0 auto;
	color: $orange;
	
}
.client-job {
	

}
.client-span {
	display: block;
	text-align: center;

}
.left-button {
 margin-right: 5em;
 //background-color: $orange;
}

.right-button {
margin-left: 5em;
 //background-color: $orange;
}