//contact

%contact-bkcolor-opacity {
	background-color: $contact-bkColor; 
	opacity: $contact-opacity;
}
.form-box, .contact-message-box, .google-maps-figure {
	@extend %contact-bkcolor-opacity; 
}
.contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	padding-top: 1%;
	background-color: $orange;

}
.contact-p, .google-maps-phoneNumber, .google-maps-emailAddress, .google-maps-pinAddress {
	@extend %contact-setColor; 
}
.contact-p {
	text-align: center;
	margin: 0 auto;
	margin-top: 3em;
	font-size: 1.3em;
	line-height: 1.75em;
	margin-bottom: 3em;
	width: 60em;

}
.contact-form {
	padding: 1em;
}
.form-box {
	width: 28em;
	display: block;
	height: 3em; 
}
.contact-message-box {
	width: 28em;
	height: 15em;
	display: inline;
	font-family: Arial;
}
.contact-company-box:focus, .contact-email-box:focus, .contact-message-box:focus {
	color: #FFFFFF;
}

.contact-company-box, .contact-email-box, .contact-message-box {
	color: #FFFFFF;
}




.google-maps-figure {
	position: absolute;
	z-index: 3;
	width: 23.8em;
	height: 9em;
	margin-top: 0;
}
.google-maps-phoneNumber {
	margin-right: 2em;
}
.google-maps-section {
	width: 30em;
	padding-bottom: 6em;
}
//footer
.bottom-page-footer {
	margin: 0 auto;
	text-align: center;
	margin-top: 1em;
}

.footer {
	font-family: $primary-regular;
}
.theme-by {
	color: $dark-gray;
	opacity: .8;
} 
.pierre-borodin {
	color: $orange;
}
.copyright {
	color: $black;
}

.footer-nav ul {
	margin-left: 44%;
	text-align: center;
}

