/*menu navigation*/

@media (max-width: 800px) {
	.menu-icon {
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
		fill: currentColor;
	}
	.drop-down-menu {
		position: fixed;
		display: inline-block;
		z-index: 30;
		label, ul li {
			display: block;
			width: 50em;
			height: 1.8em;
			background: $white;
			padding: 15px 20px;
		}
		input {
			display: none;
			z-index: 30;
		}
		input ~ ul {
			visibility: hidden;
			opacity: 0;
		}
		label:hover, ul li:hover {
			background-color: $dark-gray;
			color: $white;
			cursor: pointer;
		}
		input:not(:checked) ~ ul {
			visibility: visible;
			opacity: 1;
		}
	}
	.menu-list-ul {
		position: absolute;
	}
	.menu-list {
		margin: 0;
		padding: 0;
	}
	.animate {
		@include transition( all .3s );
		@include visibility( hidden );
	}
}
@media (min-width: 800px) {
	.drop-down-menu > input, label {
		visibility: hidden;
		position: absolute;
	}
	.menu-list-ul {
		text-align: center;
		li {
			display: inline;
			padding-left: 2em;
			padding-right: 2em;
			opacity: .6;
		}
		li:hover {
			@include hover_state( null, $black );
			@include transition( all .3s );
		}
	}
}