//icons go here//

@mixin icon-border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

//menu navigation
@media (max-width: 700px) {
	.menu-icon {
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
		fill: currentColor;
	}
}

//welcome section
.welcome-icon {
	margin: 0;
}

.circle-welcome-icon {
	margin: 1em;
	padding: 1em;
	background-color: $orange;
	@include icon-border-radius(50em);
}
//services section
.circle-services-icon {
	display: inline-block;
	padding: 3em;
	background-color: $white;
	@include icon-border-radius(50em);
}

//google maps section
.google-maps-icons {
	color: $white;
	width: 7%;
	display: flex;
}
