/*icons go here*/

.circle-welcome-icon {
	margin: $one-em;
	padding: $one-em;
	background-color: #fd6632;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}
.welcome-icon {
	margin: 0;
}