/*Portfolio*/
.carousel {
	@include flexbox(flex, column, wrap, flex-start, center, center);
	height: 20em;
}
.image-carousel {
	position:relative;
	width: 70%;
	height: 65%;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.carousel-nav-bar {
	> ul {
		@include flexbox(flex, row, nowrap, flex-start, flex-start, flex-start);
		list-style: circle;
		font-size: 2em;
	}
	ul > li {
		padding-right: 1em;
		cursor: pointer;
	}
}
.carousel-selected {
	color: $orange;
}
.portfolio {
	nav {
		text-align: center;
	}
}
.portfolio-nav-ul {
	margin: 1em;
	padding: 0;
	> li {
		display: inline;
		padding: 1em;
		opacity: .6;
	}
	> li:hover {
		@include hover_state( $orange, $white );
		@include transition( all .3s );
	}
}
@media (min-width: 1000px) {
	.portfolio-article {
		margin-left: 5em;
		margin-right: 5em;
	}
}
.portfolio-article {
	@include flexbox(flex, row, wrap, center, flex-start, center);
	article {
		padding-left: .5em;
		padding-right: .5em;
		padding-bottom: 1em;
		text-align: center;
	}
	figure {
		height: 12em;
		background-color: $black;
	}
	img {
		height: 12em;
	}
	img:hover {
		opacity: .5;
		@include transition( all .6s );
	}
} 