/*Portfolio*/

.carousel {
	@include flexbox(flex, column, wrap, center, center, center);
}
.carousel img {
	height: 17.8em;
	width: 100%;
	height: 100%;
}
.carousel-nav-bar > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	list-style: circle;
	font-size: 2em;
	display: inline-grid;
}
.carousel-selected {
	color: #fd6632;
}
.portfolio nav {
	text-align: center;
}
.portfolio-nav-ul {
	margin: 1em;
	padding: 0;
}
.portfolio-nav-ul > li {
	display: inline;
	padding: 1em;
}
@media (min-width: 1000px) {
	.portfolio-article {
		margin-left: 5em;
		margin-right: 5em;
	}
}
.portfolio-article figure {
	height: 192px;
	background-color: black;
}
.portfolio-article img:hover {
	opacity: .5;
	-moz-transition: all .6s;
	-webkit-transition: all .6s;
	transition: all .6s;
}
.portfolio-article {
	@include flexbox(flex, row, wrap, center, flex-start, center);
}
.portfolio-article article {
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: 1em;
	text-align: center;
}
.portfolio-article img {
	height: 12em;
}