//this should have basic css code that can be defaulted to in case more complex styling doesn't work in all cases

//google maps section
.google-maps {
	z-index: 1;
	position: relative;
}

//team section 
.team {
	margin: 0 auto;
	text-align: center;
}
