//team section

.team-social-media-icon {
	@include team-social-media-spacing;
}
.team-social-media-icon li {
	display: inline;
	float: left;
}
.team-facebook-icon, .team-twitter-icon, .team-dribble-icon, .team-linkedIn-icon, .team-googlePlus-icon {
	@include team-icon-spacing;
}
.team-facebook-icon {
	background-color: $dark-blue;
}
.team-twitter-icon {
	background-color: $light-blue;
}
.team-dribble-icon {
	background-color: $dark-pink;
}
.team-linkedIn-icon {
	background-color: $medium-blue;
}
.team-googlePlus-icon {
	background-color: $old-yellow;
}
.team {
	margin: 0 auto;
	text-align: center;
}

.team-section {
	@include flexbox ( flex, row, wrap, center, flex-start, center );
}
.team-p {
	text-align: center;
	margin: 0 auto;
	margin-top: 3em;
	font-size: 1.3em;
	line-height: 1.75em;
	margin-bottom: 3em;
	width: 60em;
}
.circle-crop {
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.team-name {
	font-size: 2em;
	margin-bottom: 0;
}
.team-figcaption {
	width: 17em;
}
.social-media-figure {
	@include flexbox( flex, column, nowrap, center, flex-start, center );
	width: 17em;
	margin: 1em;
}